/* Helpers */
body {
    background-color: silver;
    padding-top: 100px;
}

.navbar-header {
    border-bottom: 1px solid #78C2AD;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #78C2AD;
}

.logo {
    min-width: 30px;
    min-height: 100px;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-top: 10px;
}


/* Override bootstrap styles*/
.navbar-inverse .navbar-nav > li > a {
    color: #0E7886;
    font-size: 17px;
}
.navbar-header {
    min-height: 100px;
}
.navbar-toggle {
    margin-top: 27px;
    margin-bottom: 27px;
}
.navbar {
    background-color: #78C2AD;
}

.navbar-inverse {
    border-bottom: 1px solid #0E7886;
}
.navbar-inverse .navbar-toggle {
    border-color: #0E7886;
    margin-top: 34px;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: white;
}

    .navbar-inverse .navbar-toggle .icon-bar {
        background-color: #0E7886;
    }

    .navbar-nav {
        min-height: auto;
    }

/* Own Styling */

@media (min-width: 768px) {
    body {
        background-color: silver;
        padding-top: 120px;
    }
        
    /* Override bootstrap styles*/
    .navbar-header {
        min-height: 120px;
    }
    .navbar-toggle {
        margin-top: 38px;
        margin-bottom: 38px;
    }

    .navbar-nav {
        min-height: 120px;
        
    }


    .navbar-inverse .navbar-nav > li > a {
        margin: 0;
        vertical-align: middle;
        line-height: 120px;
        font-size: 25px;
    }

    .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
        height: 150px;
    }

    /* Own Styling */
    .logo {
        min-width: 90px;
        min-height: 150px;
    }
    .navbar-brand {
        min-height: 120px;
    }

    .logo img {
        width: 90px;
        height: 90px;
        margin: 15px 0 0 15px;
    }

    

    
}

