/* Helpers */
body {
    background-color: yellowgreen;
    padding-top: 100px;
}

.logo {
    min-width: 30px;
    min-height: 100px;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-top: 10px;
}


/* Override bootstrap styles*/
.navbar-header {
    min-height: 100px;
}
.navbar-toggle {
    margin-top: 27px;
    margin-bottom: 27px;
}
.navbar {
    background-color: #78C2AD;
}

.navbar-inverse {
    border-bottom: 1px solid #0E7886;
}

.navbar-nav {
    min-height: 100px;
    border: 1px solid blue;
}

/* Own Styling */

@media (min-width: 768px) {
    body {
        background-color: silver;
        padding-top: 120px;
    }
        
    /* Override bootstrap styles*/
    .navbar-header {
        min-height: 120px;
    }
    .navbar-toggle {
        margin-top: 38px;
        margin-bottom: 38px;
    }

    .navbar-nav {
        min-height: 120px;
        
    }


    .navbar-inverse .navbar-nav > li > a {
        margin: 0;
        vertical-align: middle;
        line-height: 120px;
        font-size: 25px;
        color: #0E7886;
    }

    /* Own Styling */
    .logo {
        min-width: 90px;
        min-height: 120px;

    }
    .navbar-brand {
        min-height: 120px;
    }

    .logo img {
        width: 90px;
        height: 90px;
        margin-top: 0px;
    }


    
}

