@model RoutePlanningCES.Models.DTOs.SearchResultDTO
@using System.Linq;
@{
    ViewBag.Title = "SearchResult";
}

<h2>Irina is a horse</h2>
@Model.Fastest.Duration
@Model.Fastest.Price

@{
    foreach (var cityOfPath in Model.Fastest.Cities)
    {
        <p>@cityOfPath.Name</p>
    }
}
