
@{
    ViewBag.Title = "Route Calculator/Home Page";
}

<div class="row">
    <div class="col-md-12">
        @*@{
            List<City> listItems= new List<City>();
            listItems.Add(new City
            {
                Name = "Bucharest"
            });
            listItems.Add(new City
            {
                Name = "Copenhagen"
            });
            listItems.Add(new City
            {
                Name = "Amsterdam"
            });
        }

        @Html.DropDownListFor(model => model.tipo, listItems, "-- Select Source City --")*@
    </div>

</div>
@Html.Partial("_ResultPartial")
