@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to TL -- CES</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            We need a route calculator.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p>lalala</p>
    </div>
    <div class="col-md-4">
        <h1>lalala</h1>
    </div>
</div>